@model HAM_API.Models.tbl_service

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-danger">Xoá dịch vụ: @Html.DisplayFor(model => model.name)</h4>
            <h6 class="m-0 font-weight-bold"> ID: @Html.DisplayFor(model => model.id)</h6>
            <h5>Bạn có chắc muốn xoá không ?</h5>
        </div>
        <div class="card-body">

            <dl class="dl-horizontal " width="100%" cellspacing="0">
                <dt style="padding-bottom : 10px">
                    Description:
                    <b>
                        @Html.DisplayFor(model => model.description)
                    </b>
                </dt>

                <dt style="padding-bottom : 10px">
                    Price:
                    <b>
                        @Html.DisplayFor(model => model.price)
                    </b>
                </dt>
            </dl>

        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="card-footer py-3">
                <p>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a class="btn btn-secondary" href="/Service/Index">Back to list</a>
                </p>
            </div>
        }

    </div>
</div>
