@model List<HAM_API.Models.tbl_booking>
@{
    ViewBag.Title = "Canceled";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Data/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Main Content -->

@if (Model.Count() > 0)
{
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex align-items-center">
                <h4 class="m-0 font-weight-bold text-primary flex-grow-1">Danh sách lịch đã hủy</h4>
                <form class="form-inline" id="searchBookingCompleteForm" action="/Booking/CompleteSearch" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchBookingCompleteInput" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body table-wrapper-scroll-y">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="thead-dark">
                            <th style="color:white"> STT</th>
                            <th style="color:white"> Họ tên</th>
                            <th style="color:white"> Ngày khám</th>
                            <th style="color:white"> Giờ khám</th>
                            <th style="color:white"> Bác sĩ</th>
                            <th style="color:white"> Trạng thái</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.OrderByDescending(b => b.date))
                        {
                            DateTime date = Convert.ToDateTime(item.date);

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.order_num)
                                </td>
                                <td>
                                    <form action="/Booking/Details" method="post">
                                        @Html.Hidden("id", item.id)
                                        <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                                            <b><span class="text-primary">@Html.DisplayFor(modelItem => item.tbl_patient.pt_name)</span></b>
                                        </button>
                                    </form>
                                </td>

                                <td>
                                    @date.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.time)
                                </td>

                                <td>
                                    <form action="/Doctor/Details" method="post">
                                        @Html.Hidden("id", item.dc_id)
                                        <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                                            <b><span class="text-primary">@Html.DisplayFor(modelItem => item.tbl_doctor.name)</span></b>
                                        </button>
                                    </form>
                                </td>

                                @{
                                    <td style="color: red; text-align: center;">
                                        <i class="fas fa-times" style="display: flex; justify-content: center; align-items: center;"></i>
                                    </td>

                                }
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Không có lịch khám nào</h4>
                <a class="float-lg-right btn btn-primary" href="/Booking/Create">Tạo mới</a>
            </div>
        </div>
    </div>
}

@section scripts {
    <style>
        .table-wrapper-scroll-y {
            max-height: 400px;
            overflow-y: auto;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#searchBookingCompleteForm").submit(function (event) {
                event.preventDefault(); // Prevent the default form submission
                var searchString = $("#searchBookingCompleteInput").val();
                window.location.href = "/Booking/CompleteSearch?searchString=" + searchString;
            });
        });

    </script>
}