@model IEnumerable<HAM_API.Models.tbl_booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Data/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Main Content -->

@if (Model.Count() > 0)
{
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex align-items-center">
                <h4 class="m-0 font-weight-bold text-primary flex-grow-1">Danh sách lịch đặt khám</h4>
                <a class="btn btn-success ml-3" href="/Booking/Create">Tạo mới</a>
            </div>
            <div class="card-body table-wrapper-scroll-y">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="thead-dark">
                            <th style="color:white">Số khám</th>
                            <th style="color:white"> Họ tên</th>
                            <th style="color:white"> Ngày khám</th>
                            <th style="color:white"> Giờ khám</th>
                            <th style="color:white"> Trạng thái</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            DateTime date = Convert.ToDateTime(item.date);

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.order_num)
                                </td>
                                <td class="col-3">
                                    <form action="/Booking/Details" method="post">
                                        @Html.Hidden("id", item.id)
                                        <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                                            <b><span style="color: blue;">@Html.DisplayFor(modelItem => item.tbl_patient.pt_name)</span></b>
                                        </button>
                                    </form>
                                </td>

                                <td>
                                    @date.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.time)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.status)
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Không có lịch đặt khám tồn tại</h4>
                <a class="float-lg-right btn btn-primary" href="/Booking/Create">Tạo mới</a>
            </div>
        </div>
    </div>
}

@section scripts {
    <style>
        .table-wrapper-scroll-y {
            max-height: 400px;
            overflow-y: auto;
        }
    </style>
}

