@model List<HAM_API.Models.tbl_booking>
@{
    ViewBag.Title = "Pending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Data/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Main Content -->

@if (Model.Count() > 0)
{
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex align-items-center">
                <div>
                    <h4 class="m-0 font-weight-bold text-primary flex-grow-1">Danh sách lịch chờ khám</h4>
                    <p class="text-secondary font-italic">Bạn có thể xác nhận lịch đã khám hoặc hủy lịch khám</p>
                </div>

                <form class="form-inline ml-auto" id="searchBookingPendingForm" action="/Booking/PendingSearch" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchBookingPendingInput" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="card-body table-wrapper-scroll-y">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="thead-dark">
                            <th style="color:white"> Số phiếu</th>
                            <th style="color:white"> Họ tên</th>
                            <th style="color:white"> Ngày khám</th>
                            <th style="color:white"> Giờ khám</th>
                            <th style="color:white"> Bác sĩ</th>
                            <th style="color:white"> Trạng thái</th>
                            <th style="color:white"> Tuỳ chọn</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.order_num)
                                </td>
                                <td>
                                    <form action="/Booking/Details" method="post">
                                        @Html.Hidden("id", item.id)
                                        <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                                            <b><span class="text-primary">@Html.DisplayFor(modelItem => item.tbl_patient.pt_name)</span></b>
                                        </button>
                                    </form>
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.time)
                                </td>

                                <td>
                                    <form action="/Doctor/Details" method="post">
                                        @Html.Hidden("id", item.dc_id)
                                        <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                                            <b><span class="text-primary">@Html.DisplayFor(modelItem => item.tbl_doctor.name)</span></b>
                                        </button>
                                    </form>
                                </td>

                                <td style="color: orange; text-align : center">
                                    <b>@item.status</b>
                                </td>

                                <td style="text-align : center">
                                    <span>
                                        <a href="@Url.Action("ChangeState", new { id = item.id })" class="btn btn-success">
                                            <i class="fas fa-check"></i>
                                        </a>
                                    </span>

                                    <span>
                                        <a href="@Url.Action("Cancel", new { id = item.id })" class="btn btn-danger">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </span>


                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Không có lịch khám nào đang chờ</h4>
                <a class="float-lg-right btn btn-primary" href="/Booking/Create">Tạo mới</a>
            </div>
        </div>
    </div>
}

@section scripts {
    <style>
        .table-wrapper-scroll-y {
            max-height: 400px;
            overflow-y: auto;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#searchBookingPendingForm").submit(function (event) {
                event.preventDefault(); // Prevent the default form submission
                var searchString = $("#searchBookingPendingInput").val();
                window.location.href = "/Booking/PendingSearch?searchString=" + searchString;
            });
        });

    </script>
}

