@model HAM_API.Models.tbl_doctor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_department.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_department.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_user.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_user.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
