@model HAM_API.Models.tbl_user

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // DateTime dob = Convert.ToDateTime(Model.dob);
    string imgUrl = Model.img;
}


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">@Html.DisplayFor(model => model.name)</h4>
            <p class="m-0 font-weight-light"> ID: @Html.DisplayFor(model => model.id)</p>
        </div>
        <div class="card-body">

            <dl class="dl-horizontal " width="100%" cellspacing="0">
                <dt style="padding-bottom : 10px">
                    Vai trò: <b style="color:limegreen">@Html.DisplayFor(model => model.tbl_role.role_name)</b>
                </dt>

                <dt style="padding-bottom : 10px">
                    Username:
                    <b>
                        @Html.DisplayFor(model => model.username)
                    </b>
                </dt>

                <dt style="padding-bottom : 10px">
                    Email:
                    <b>
                        @Html.DisplayFor(model => model.email)
                    </b>
                </dt>

                <dt style="padding-bottom : 10px">
                    Mật khẩu: <b>@Html.DisplayFor(model => model.pw)</b>
                </dt>


                @*<dt style="padding-bottom : 10px">
            Ngày sinh: <b>@dob.ToString("dd/MM/yyyy")</b>
        </dt>*@

                <dt style="padding-bottom : 10px">
                    Số điện thoại: <b>
                        @Html.DisplayFor(model => model.p_number)
                    </b>
                </dt>

                @if (imgUrl != null)
                {
                    <dt style="padding-bottom : 10px">
                        <img src="@imgUrl" width="100" height="100" />
                    </dt>
                }
                else
                {
                    <dt style="padding-bottom : 10px">
                        <img src="~/Content/img/default_user_imag.jpg" width="100" height="100" />
                    </dt>
                }
            </dl>

        </div>
        <div class="card-footer py-3">
            <p>
                <a style="margin-right: 20px" class="btn btn-secondary" href="/User/Index">Quay lại</a>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Xóa", "Delete", new { id = Model.id }, new { @class = "btn btn-danger" })
            </p>
        </div>
    </div>
</div>
