@model HAM_API.Models.tbl_patient

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-danger">Xoá hồ sơ bệnh nhâns: @Html.DisplayFor(model => model.pt_name)</h4>
            <h6 class="m-0 font-weight-bold"> ID: @Html.DisplayFor(model => model.id)</h6>
            <h5>Bạn có chắc muốn xoá không ?</h5>
        </div>
        <div class="card-body">

            <dl class="dl-horizontal " width="100%" cellspacing="0">
                <dt style="padding-bottom : 10px">
                    Username: <b>@Html.DisplayFor(model => model.tbl_user.username)</b>
                </dt>

                <dt style="padding-bottom : 10px">
                    Date of birth:
                    <b>
                        @Html.DisplayFor(model => model.dob)
                    </b>
                </dt>

                <dt style="padding-bottom : 10px">
                    Gender:
                    <b>
                        @Html.DisplayFor(model => model.gender)
                    </b>
                </dt>


                <dt style="padding-bottom : 10px">
                    Công việc: <b>@Html.DisplayFor(model => model.job)</b>
                </dt>
                <dt style="padding-bottom : 10px">
                    Địa chỉ: <b>@Html.DisplayFor(model => model.address)</b>
                </dt>

            </dl>

        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="card-footer py-3">
                <p>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a class="btn btn-secondary" href="/Patient/Index">Back to list</a>
                </p>
            </div>
        }

    </div>
</div>
